.u-section-1 .u-sheet-1 {
  min-height: 1308px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 181px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 91px 268px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 5px 418px 0 560px;
}

.u-section-1 .u-image-1 {
  width: 195px;
  height: 195px;
  margin: -108px auto 0 105px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 408px;
  margin: 50px auto 0 -14px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 60px;
}

.u-section-1 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  background-image: none;
  font-size: 1.25rem;
  border-style: solid;
  margin: 6px auto 0;
  padding: 4px 17px 5px 15px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 5px 206px 0 44px;
}

.u-section-1 .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: 15px auto 0 72px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -20px 156px 0 102px;
}

.u-section-1 .u-icon-3 {
  width: 27px;
  height: 27px;
  margin: 15px auto 0 69px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -24px 83px 0 102px;
}

.u-section-1 .u-icon-4 {
  width: 27px;
  height: 27px;
  margin: 16px auto 0 69px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: -24px 101px 0 102px;
}

.u-section-1 .u-icon-5 {
  width: 28px;
  height: 28px;
  margin: 15px auto 0 67px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -24px 120px 0 102px;
}

.u-section-1 .u-group-2 {
  width: 732px;
  min-height: 961px;
  height: auto;
  background-image: none;
  margin: -533px 14px 30px auto;
  
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 9px;
}

.u-section-1 .u-group-3 {
  width: 265px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 10px auto 0 13px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  margin: 1px 13px 0;
}

.u-section-1 .u-text-9 {
  margin: 0 49px 0 20px;
}

.u-section-1 .u-text-10 {
  margin: 56px 49px 0 20px;
}

.u-section-1 .u-group-4 {
  width: 172px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: -57px auto 0 13px;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  margin: 1px 13px 0;
}

.u-section-1 .u-group-5 {
  width: 351px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 67px auto 0 13px;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 14px;
}

.u-section-1 .u-text-13 {
  margin: -1px 49px 0 20px;
}

.u-section-1 .u-group-6 {
  width: 265px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 39px auto 0 14px;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 1px 0 0 10px;
}

.u-section-1 .u-text-15 {
  margin: 1px 49px 0 20px;
}

.u-section-1 .u-group-7 {
  width: 199px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 37px auto 0 13px;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  margin: 1px auto 0 10px;
}

.u-section-1 .u-text-17 {
  margin: 2px 50px 0 19px;
}

.u-section-1 .u-group-8 {
  width: 201px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 38px auto 0 13px;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  margin: 1px auto 0 10px;
}

.u-section-1 .u-text-19 {
  margin: 1px 50px 0 19px;
}

.u-section-1 .u-group-9 {
  width: 178px;
  --radius: 6px;
  height: auto;
  min-height: 29px;
  margin: 47px auto 0 13px;
}

.u-section-1 .u-container-layout-11 {
  padding-bottom: 0;
}

.u-section-1 .u-text-20 {
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-21 {
  margin: 2px 50px 0 19px;
}

.u-section-1 .u-group-10 {
  width: 112px;
  --radius: 6px;
  height: auto;
  min-height: 30px;
  margin: 39px auto 0 14px;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  margin: 1px auto 0 7px;
}

.u-section-1 .u-text-23 {
  margin: 0 auto 0 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 271px;
    margin-left: 508px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 127px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -20px;
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 91px;
  }

  .u-section-1 .u-group-2 {
    width: 532px;
    min-height: 1070px;
    margin-top: -534px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 28px 0;
  }

  .u-section-1 .u-group-3 {
    --radius: 10px;
    margin-top: 2px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 58px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 91px;
    margin-right: 58px;
    margin-left: 28px;
  }

  .u-section-1 .u-group-4 {
    --radius: 10px;
    margin-top: -91px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    --radius: 10px;
    margin-top: 105px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 58px;
    margin-left: 25px;
  }

  .u-section-1 .u-group-6 {
    --radius: 10px;
    margin-top: 40px;
    margin-left: 23px;
    height: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 57px;
    margin-left: 28px;
  }

  .u-section-1 .u-group-7 {
    --radius: 10px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 58px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-8 {
    --radius: 10px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 58px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-9 {
    --radius: 10px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 58px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-10 {
    --radius: 10px;
    margin-left: 23px;
    height: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 8px;
    margin-bottom: -16px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1977px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 78px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-right: 112px;
    margin-left: 446px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-right: 219px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -19px;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -24px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 95px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -23px;
    margin-right: 28px;
    margin-left: 107px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 47px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 7px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-text-23 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1972px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 162px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -59px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 22px 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 199px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -17px;
    margin-right: auto;
    margin-left: 107px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 118px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 136px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 91px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 84px;
    margin-left: 2px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 2px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 2px;
  }

  .u-section-1 .u-group-7 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 2px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 2px;
  }

  .u-section-1 .u-group-9 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 2px;
  }

  .u-section-1 .u-group-10 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 127px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 55px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -20px;
    margin-right: 73px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 102px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 43px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 58px;
    margin-top: 106px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: -2px;
    margin-right: 0;
    margin-left: 6px;
  }
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-11,
.u-section-1 .u-text-11:before,
.u-section-1 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-22,
.u-section-1 .u-text-22:before,
.u-section-1 .u-text-22 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.btnDefault{
border-radius: 15px
}